*{
    background-color: aqua;
    color: black;
}

nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;
    
}
nav ul li a{
    text-decoration: none;
    color: darkblue;
}
nav ul li a:hover{
    color: darkgreen;
}
nav ul li a:active{
    color: darkred;
}